importFrom("RJSONIO",fromJSON)
importFrom("RCurl",getURL,curlEscape,postForm)
importFrom("httr",GET,add_headers)
importFrom("parallel",mclapply)
export("translate",
       "getMicrosoftLanguages",
       "getGoogleLanguages")
